/* Footer */
.footer {
  background-color: var(--grey-white);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-41xl) 0 0;
  gap: var(--gap-41xl);
}

/* Footer Child */
.footerChild {
  align-self: stretch;
  height: 380px;
  position: relative;
  background-color: var(--grey-white);
  display: none;
}

/* Group Wrapper */
.groupWrapper {
  max-width: 1276px;
  width: 100%;
  flex-direction: row;
  padding: 0 var(--padding-20xl) 0 var(--padding-xl);
  box-sizing: border-box;
  margin: 0 auto; /* Center align on larger screens */
}

/* Group */
.group {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
}

/* Group Parent */
.groupParent {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

/* Group 1 */
.group1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) 0 0;
  gap: var(--gap-base);
}

/* Group 2 */
.group2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-26xl) 0 0;
  gap: var(--gap-base);
}

/* Group 3 */
.group3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}

/* Post a Query */
.postaQuery {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 360px; /* Limit width for smaller screens */
}

.frameChild {
  width: 100%; /* Make form full width on smaller screens */
}

/* Social Media */
.socialMedia {
  letter-spacing: 0.01em;
  line-height: 18px;
}

/* Other Queries */
.otherQueries {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}

/* Other Queries Icons */
.groupIcon,
.otherQueriesChild,
.otherQueriesInner {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
  cursor: pointer;
}

/* Other Queries Icons Hover */
.groupIcon:hover,
.otherQueriesChild:hover,
.otherQueriesInner:hover {
  background-color: beige;
}

/* Quick Links */
.quickLinks {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 18px;
  z-index: 1;
}

/* Rectangle Group */
.rectangleGroup {
  background-color: var(--purple-3);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-11xl) var(--padding-2xl) var(--padding-11xl) var(--padding-xl);
  /* z-index: 1; */
  align-self: stretch;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-sm-bold-size);
  color: var(--grey-darkest);
  font-family: var(--text-sm-bold);
  margin-top: 10px;
}

/* Frame Inner */
.frameInner {
  height: 78px;
  width: 100%;
  position: relative;
  background-color: var(--purple-3);
  display: none;
  max-width: 100%;
}

/* Purple Cues Private */
.purpleCuesPrivate {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 18px;
  font-weight: 500;
  mix-blend-mode: normal;
  z-index: 1;
}

/* Rectangle Frame */
.rectangleFrame {
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
}

/* Rectangle Frame Background */
.rectangleFrame {
  background-color: var(--primary-full);
}

/* Community Frame */
.inviteFriendsFrame {
  flex-direction: column;
  justify-content: flex-start;
}

/* Invite Friends Frame */
.inviteFriendsFrame {
  align-items: flex-start;
  padding-bottom: 10px;
}

/* Media Queries */
@media screen and (max-width: 1050px) {
  .groupWrapper {
    padding: 0 var(--padding-lg) 0 var(--padding-lg);
  }
}

@media screen and (max-width: 750px) {
  .groupParent {
    flex-wrap: wrap;
  }
  .meSection{width: 95vw;}
  
  
}

@media screen and (max-width: 485px) {
  .footer {
    padding-top: var(--padding-20x2);
    box-sizing: border-box;
  }
  .meSection{width: 100%;}
}
