.frame {
  flex-basis: calc(50% - var(--gap-5xl) / 2); /* Two items in a row */
  border-radius: var(--br-5xs);
  background-color: var(--grey-white);
  border: 1px solid var(--grey-light);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--padding-21xl);
  gap: var(--gap-13xl);
  min-height: 300px;
  min-width: 450px;
  max-width: 100%;
}

.featureIcon {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}

.title {
  margin: 0;
  height: 36px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}

.description {
  font-size: var(--font-size-lg);
  font-weight: 300;
  white-space: pre-wrap;
}

.button {
  white-space: nowrap;
  /* z-index: 1; */
  width: fit-content;
}


@media screen and (max-width: 950px) {
  .frame {
    flex-basis: 100%; /* Take up full width on screens smaller than 900px */
    /* min-width: auto;  */
    max-width: 100%; /* Reset max-width */
  }
  .button{
    width: 100%;
  }
}

/* @media screen and (max-width: 450px) {
  .frame {
     flex-basis: calc(100% - var(--gap-5xl));
    width: 100%;
  }

  .title {
    font-size: var(--font-size-lgi);
  }
  .button{
    width: 100%;
  }
} */