.feature1Child,
.frameChild {
  height: 818px;
  width: 1440px;
  position: relative;
  background-color: var(--grey-white);
  display: none;
  max-width: 100%;
}
.frameChild {
  width: 608px;
  height: 297px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--grey-light);
  box-sizing: border-box;
}
.groupsBlack24dp11 {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.people1 {
  margin: 0;
  height: 36px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.groupsblackdp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.findATeacher {
  align-self: stretch;
  height: 81px;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 300;
  white-space: pre-wrap;
  display: inline-block;
  z-index: 1;
}
.shoppingbasketblackdp {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  gap: var(--gap-5xl);
}
.eventavailableblackdp {
  z-index: 1;
}
.class {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.frameItem,
.rectangleParent {
  border-radius: var(--br-5xs);
  background-color: var(--grey-white);
  border: 1px solid var(--grey-light);
  box-sizing: border-box;
  max-width: 100%;
}

.rectangleParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-21xl);
  gap: var(--gap-13xl);
}
.frameItem {
  width: 608px;
  height: 297px;
  position: relative;
  display: none;
}
.locationOnBlack24dp1Icon {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.place1 {
  margin: 0;
  height: 36px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.framemeetup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.findAClass {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 300;
  white-space: pre-wrap;
  z-index: 1;
}
.place {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  gap: var(--gap-5xl);
}
.meetup {
  white-space: nowrap;
  z-index: 1;
}
.auditorium {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.frameblackdp,
.rectangleGroup {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangleGroup {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--grey-white);
  border: 1px solid var(--grey-light);
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-21xl);
  gap: var(--gap-13xl);
}
.frameblackdp {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.frameInner {
  width: 608px;
  height: 297px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--grey-white);
  border: 1px solid var(--grey-light);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.shoppingBasketBlack24dp2Icon {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.product {
  margin: 0;
  height: 36px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.shoppingBasketBlack24dp2Parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.findEquipmentOr {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 300;
  white-space: pre-wrap;
  z-index: 1;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  gap: var(--gap-5xl);
}
.frameButton {
  white-space: nowrap;
  z-index: 1;
}
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.rectangleContainer,
.rectangleDiv {
  border-radius: var(--br-5xs);
  background-color: var(--grey-white);
  border: 1px solid var(--grey-light);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-21xl);
  gap: var(--gap-13xl);
}
.rectangleDiv {
  width: 608px;
  height: 297px;
  position: relative;
  display: none;
}
.eventAvailableBlack24dp2Icon {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.program {
  margin: 0;
  height: 36px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.eventAvailableBlack24dp2Parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.findEventsMeetups {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 300;
  white-space: pre-wrap;
  z-index: 1;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  gap: var(--gap-5xl);
}
.frameChild1 {
  width: 121px;
  z-index: 1;
}
.frameContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.frameblackdp1,
.frameblackdpParent,
.groupDiv {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.groupDiv {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--grey-white);
  border: 1px solid var(--grey-light);
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-21xl);
  gap: var(--gap-40xl);
}
.frameblackdp1,
.frameblackdpParent {
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.frameblackdp1 {
  align-self: stretch;
  flex-direction: row;
}
.frameblackdpParent {
  width: 1240px;
  flex-direction: column;
  z-index: 1;
}
.feature1,
.people {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.feature1 {
  flex: 1;
  background-color: var(--grey-white);
  align-items: center;
  justify-content: center;
  padding: var(--padding-81xl) var(--padding-xl);
}
.people {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-mid);
  margin-top: -33px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--base-black);
  font-family: var(--text-sm-bold);
}
@media screen and (max-width: 1050px) {
  .frameblackdp,
  .frameblackdp1 {
    flex-wrap: wrap;
  }
  .feature1 {
    padding-top: var(--padding-34xl);
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .rectangleContainer,
  .rectangleGroup,
  .rectangleParent {
    gap: var(--gap-13xl);
  }
  .groupDiv {
    gap: var(--gap-40xl);
  }
}
@media screen and (max-width: 450px) {
  .people1,
  .place1,
  .product,
  .program {
    font-size: var(--font-size-lgi);
  }
  .feature1 {
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
}
