.testimonials {
  background-color: var(--grey-white);
  /* margin: 10px; */
  font-size: var(--font-size-5xl);
  color: var(--grey-darkest);
}

.rectangleParent {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: var(--br-5xs);
  background-color: var(--purple-3);
 
  justify-content: flex-start;
  padding: var(--padding-21xl);
  gap: var(--gap-13xl);
}


.quoteIcon,
.testimonials1 {
  position: relative;
  z-index: 1;
}
.quoteIcon {
  height: 40px;
  width: 40px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.testimonials1 {
  margin: 0;
  height: 36px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.invite {
  display: flex;
  flex-direction: row;
  gap: var(--gap-5xl);
}

.inAFast {
  font-size: var(--font-size-lg);
  color: var(--grey-darker);
  letter-spacing: 0.02em;
  line-height: 30px;
  font-weight: 300;
  display: inline-block;
}

.playArrowBlack24dp1Icon {
  position: relative;
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}
.ellipseParent {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--grey-white);
}

.audioTrackInner {
  width: 60px; /* Adjust according to your needs */
  height: 60px; /* Adjust according to your needs */
  border-radius: 50%;
  object-fit: cover;
}
.micBlack24dp1Icon {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  right: -18%;
  top: 12px;
}

.frameInner {
  height: 2px;
  flex: 1;
  border-radius: var(--br-11xs);
  background-color: var(--grey-white);
  max-width: 100%;
}
.div {
  line-height: 16px;
}
.rectangleGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  width: 40vw;
}

.ellipseIcon {
  width: 100px; /* Adjust according to your needs */
  height: 100px; /* Adjust according to your needs */
  border-radius: 50%;
  object-fit: cover;
}
.audioTrack {
  border-radius: var(--br-5xs);
  background-color: var(--purple-2);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap-5xl);
  min-width: 60vw;
  max-width: 100%;
  padding: 10px;
}

.classicalDancer,
.shubhaNagarajan {
  /* position: relative; */
  letter-spacing: 0.02em;
  /* z-index: 1; */
}
.shubhaNagarajan {
  font-weight: 600;
}

.classicalDancer {
  height: 21px;
  font-size: var(--text-sm-bold-size);
  color: var(--blue-1);
}

.shubhaNagarajanParent {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-xl) 0;
  gap: var(--gap-9xs);
}

.shubhaNagarajan {
  font-weight: 600;
}
.ellipseGroup {
  display: flex;
  align-items: center;
  gap: var(--gap-5xl);
  min-width: 20vw;
  max-width: 100%;
  font-size: var(--font-size-lg);
}
.audioTrackParent {
  display: flex;
  flex-direction: column;
  gap: var(--gap-61xl);
  max-width: 100%;
  font-size: var(--font-size-xs);
  color: var(--primary-full);
}

.inAFastGrowingAndEverChaParent {
  flex-direction: column;
  gap: var(--gap-21xl);
  font-size: var(--font-size-lg);
  color: var(--grey-darker);
}


@media screen and (min-width: 768px) {
  .audioTrackParent {
    flex-direction: row;
    justify-content: space-between;
  }

  .audioTrack {
    width: 60vw;
  }

  .ellipseGroup {
    order: 2; /* This will ensure the ellipseGroup comes after audioTrack */
  }
}

@media screen and (max-width: 767px) {
  .audioTrackParent {
    flex-direction: column;
  }
  .micBlack24dp1Icon {
    position: relative;
    width: 32px;
    height: 32px;
    overflow: hidden;
    right: 17%;
    top: 59px;
  }
}
